@media only screen and (max-width: 1024px){

}
@media (max-width: 935px) and (min-width: 429px){
  .announcements_and_articles li {
    clear: both;
    float: none;
    width: 100%;
  }
  .articles_content .img img {
    width: 90%;
  }
  .articles_content .img {
    width: 25%;
  }
  .content_part {
    width: 70%;
    padding-left: 2%;
  }
  #ib-container2 .item {
    clear: both;
    float: none;
    width: 100%;
  }
}
@media (max-width: 972px) and (min-width: 536px){
  .nbs-flexisel-inner {
    //width: 373px!important;
  }

}
@media (max-width: 800px) and (min-width: 450px) {
  .item-news {
    width: 100%!important;
    min-height: 180px;
  }
  .nbs-flexisel-inner {
    max-width: 800px!important;
    width: 60%!important;
  }
  .item.nbs-flexisel-item {
    padding-left: 55px!important;
    padding-right: 55px!important;
  }
}
@media (max-width: 1290px) and (min-width: 975px) {
  .nbs-flexisel-inner {
    width: 690px!important;
  }
}
@media (max-width: 975px) and (min-width: 600px) {
  .nbs-flexisel-inner {
    width: 400px!important;
  }
  #bestseller-items {
    left: -160px!important;
  }
}


@media (max-width: 1170px) {
.novelty_content .content_item {
  width: 52% !important;
  padding-left: 2%!important;
}
}
@media (max-width: 1100px) {
  .novelty_content .content_item {
    width: 51% !important;
    padding-left: 5% !important;
  }
}
@media (max-width: 1035px) {
  .novelty_content .content_item {
    width: 46% !important;
    padding-left: 10% !important;
  }
}
@media (max-width: 950px) {
  .novelty_content .content_item {
    width: 46% !important;
    padding-left: 10% !important;
  }
  #ib-container2 .item {
    min-height: 285px!important;
  }
  .info_block_contacts_content_top, .info_block_contacts_content_bottom {
    width: 50%;
    float: left;
  }
}
@media (max-width: 800px) {
  #ib-container2 .item {
    width: 100%!important;
  }
  .novelty_content li .image {
    //width: 35%;
    float: left;
  }
  .novelty_content .content_item {
    width: 65% !important;
    padding-left: 0% !important;
  }
}
@media (max-width: 950px) {
  .block {
    width: 100%!important;
    padding-left: 0;
  }
  .info_block_content {
    max-width: 100%!important;
    width: 100%!important;
  }
  .info_block_title_wrapper {
    background: none!important;
  }
  .info-block-content-title-wrapper {
    width: 100%;
    height: 55px;
    background: url("../assets/g3k-h1-pattern.png");
  }
  .info-block-title, .info-block-content-inner {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
  }
  .info-block-title {
    padding-top: 13px;
  }
  .info-block-content-inner {
    padding-top: 20px;
  }
}
@media (max-width: 950px) and (min-width: 680px) {
.info_block_contacts.block h5 {
  padding: 4px 0px 14px 0px!important;
}
}
@media (max-width: 1235px) and (min-width: 1060px) {
  .item-news .content {
    width: 55%!important;
  }
}
@media (max-width: 1060px) and (min-width: 936px) {
  .item-news .content {
    width: 50%!important;
  }
}
@media (max-width: 936px) and (min-width: 720px) {
  .info_block_we_are_in_social_networks.block li {
    padding: 2% 3% 2% 3%!important;
  }
}
@media (max-width: 936px) and (min-width: 500px) {
  .announcements_and_articles .item-news {
    padding-top: 42px;
    width: 100%!important;
    float: left;
    min-height: 200px!important;
  }
}

@media (max-width: 680px) and (min-width: 429px) {
  .info_block_contacts_content_top, .info_block_contacts_content_bottom {
    width: 100%!important;
  }
}

@media (max-width: 1070px) and (min-width: 429px) {
  #content-wrapper .slides-container li>img {
    top: 0%!important;
  }
}
@media (max-width: 720px) and (min-width: 429px) {
  #ib-container2 .item {padding-left: 0!important;}
  .novelty_content li .image {
    margin-left: 29%;
  }
  #ib-container2 .add-too-cart {
    max-width: 400px;
    width: 50%;
    margin: 0 auto;
  }
  .contacts-detail .about_title {
    padding: 50px 0 20px 0!important;
  }
  .contacts-detail {
    padding-left: 0 !important;
    width: 100%;
  }
  .contacts-detail p:last-child {padding-bottom: 0!important;}
  .catalog-content-items .add-too-cart {width: 95%;}
  .contacts-details-phones {
    padding-bottom: 50px!important;
  }
  .item-top-left-part, .item-top-right-part {
    width: 100%;
  }
  .articles-item-button-up-center {
    width: 10px;
  }
  .articles-item-button-up-left, .articles-item-button-up-right {
    width: 45%;
  }
  .similar-products-content .form-actions {
    width: 43% !important;
  }
  .item-top-part {
    padding-top: 70px;
  }
  .for-catalog .like-social-buttons {
    padding-left: 5%;
    width: 100%;
  }
  .buttons-vk, .buttons-fb {
    padding-left: 0!important;
    width: 100%!important;
    padding-bottom: 25px;
  }
  .info_block_we_are_in_social_networks.block li {
    padding: 2% 15% 2% 0% !important;
  }
  #mobile-menu-button {
    display: block;
  }
  .banner-select-publications-wrapper {
    display: none;
  }
  .main_menu li span {
    display: none!important;
  }
  .main_banner {
    display: none;
  }
  .hw_marg_bot {
    margin-bottom: 259px;
  }
  .main_menu {
    display: none;
    height: 0px;
    overflow: hidden;
  }
  .main_menu li {
    background: #414242;
    width: 100%;
    border-bottom: 1px solid #F16B21;
  }
  .header_wraper nav a {
    padding: 17px 0px 17px 0px !important;
    font-size: 22px;
    text-align: center!important;
    float: none!important;
  }
  .catalog-sidebar-menu-inner {
    background: none!important;
  }
  .catalog-sidebar-menu-wrapper {
    background: none!important;
    margin-bottom: 0!important;
    width: 100%!important;
    min-height: 100%!important;
  }
  .catalog-page-items-wrapper {
    width: 100%!important;
  }
  .catalog-page-title-wrapper .title {
    padding-left: 0!important;
  }
  .catalog-page-items {
    padding: 0!important;
  }
  .loading-group-menu li {
    padding-bottom: 0!important;
  }
  #category {
    position: absolute;
    background: #F1F1F1;
    width: 100%;
    z-index: 9;
    left: 0;
  }
  .loading-group-menu .loading-group-item-title-wrapper {
    background: none!important;
  }
  .loading-group-item-title-wrapper:before {
    display: block;
    content: '';
    height: 55px;
    background: url("../assets/g3k-h1-pattern.png");
    position: relative;
    width: 120%;
    left: -10%;
    z-index: -5;
  }
  #category li {
    line-height: 2em;
    left: -4%;
  }
  .loading-group-menu a {
    position: relative;
    left: 22%;
  }
  .add-too-cart .form-actions {
    width: 100% !important;
    left: 0!important;
  }
  .cat-item {
    width: 44%;
  }
  .catalog-sidebar-menu li ul {
    padding-bottom: 15px;
  }
  .content_item {
    width: 100%;
  }
  .treeview .hitarea {
    z-index: 3;
  }
  .treeview ul {
    margin-top: 0!important;
  }
  .group-menu-item-arrow-first, .group-menu-item-title {
    position: relative;
    top: -55px;
  }

  .catalog-sidebar-menu-inner {
    background: none;
    width: 100%;
    position: static;
    top: 0!important;
  }
  .catalog-sidebar-menu {
    position: static;
    top: 0!important;
  }
  .loading-group-menu {
    padding-top: 0!important;
  }
}



@media (max-width: 670px) and (min-width: 480px) {
  .call_to_order {
    display: none;
  }
  .content_menu nav li {
    width: 80%!important;
    padding-left: 20%;
  }
  .link-menu-wrapper {
    padding-left: 6%;
    width: 54%!important;
  }
  .content_menu nav li img {
    width: 33%!important;
  }
  //.novelty_content li .image {
  //  margin-left: 20%;
  //}
  .novelty_content .content_item {
    text-align: center;
    width: 100% !important;
  }
  .novelty_content .content_item {
    padding-top: 15px!important;
    padding-bottom: 70px;
  }
  #g3k-shopping-cart {
    padding-left: 20%;
  }
}
@media (max-width: 670px) and (min-width: 429px) {
  .item-news .content {
    width: 52%!important;
    padding-left: 5%!important;
  }
  .item-news .image {
    position: relative;
    top: 25px;
  }
  .buttons-vk, .buttons-fb {
    width: 100%;
  }
}
@media (max-width: 1285px) and (min-width: 1090px) {
  .main_menu {
    padding-left: 0%!important;
  }
}
@media (max-width: 1190px) and (min-width: 980px) {
  .main_menu {
    padding-left: 5%!important;
  }
}
@media (max-width: 1190px) and (min-width: 720px) {
  .call_to_order {display: none;}
}
@media (max-width: 720px) and (min-width: 670px) {
  .call_to_order {display: block!important;}
}
@media (max-width: 980px) and (min-width: 870px) {
  .header_wraper nav a {
    padding: 49px 20px 27px 20px!important;
  }
}
@media (max-width: 870px) and (min-width: 810px) {
  .header_wraper nav a {
    padding: 49px 14px 27px 14px !important;
  }
}
@media (max-width: 810px) and (min-width: 720px) {
  .header_wraper nav a {
    padding: 49px 6px 27px 6px !important;
  }
  #shopping-cart {
    width: 70px;
  }
}
@media (max-width: 1130px) and (min-width: 970px) {
  .footer_up_right {
    float: right;
  }
  .footer_up_left {
    width: 30%!important;
  }
}
@media (max-width: 936px) and (min-width: 760px) {
  .footer_up_left_text p {
    width: 50%;
    float: left;
  }
}

@media (max-width: 936px) and (min-width: 429px) {
  .footer_up_left {
    width: 100%!important;
  }
  .footer_down_left {
    width: 100%!important;
  }
}

@media (max-width: 840px) and (min-width: 760px) {
  .footer_down_left {
    width: 100%!important;
  }
}

@media (max-width: 840px) and (min-width: 429px) {
  .footer_down_right {
    display: none;
  }
  .slides-pagination a {
    margin: 2px 15px;
  }
  .slides-pagination {width: 25%!important;}
}
@media (min-width: 1920px) {
  #g3k-shopping-cart {
    float: right;
  }
  .main_menu {
    padding-left: 20%!important;
  }
  #call_order_message {
    width: 96%;
  }
  .header_logo {
    padding-left: 0!important;
  }
  .main_menu li {
    padding: 0 10px 0 10px!important;
  }
  .nbs-flexisel-inner {
    max-width: 100%!important;
    width: 1520px !important;
  }
  .info_block_we_are_in_social_networks.block li {
    padding: 2% 5% 2% 6%!important;
  }
  .nbs-flexisel-ul {
    left: -246px !important;
  }
  .content_menu {
    padding: 28px 0 25px 0;
  }
  .contacts-form .form-actions { margin-right: 7px;}
  #slides3 li {
    width: 1560px!important
  }
  .main_banner {
    height: 570px!important;
  }
  #wrap-for-main-banner #slides .slides-container {
    height: 565px !important;
  }
  #wrap-for-main-banner #slides {
    height: 570px !important;
  }
}
@media (max-width: 855px) and (min-width: 429px) {
  .nbs-flexisel-ul {
    left: -237.5px!important;
  }
  .nbs-flexisel-inner {
    max-width: 800px !important;
    width: 70% !important;
  }
}
@media (max-width: 1250px) and (min-width: 1070px) {
  .contact-form-title {
    width: 59%;
  }
}

@media (max-width: 1090px) and (min-width: 933px) {
  #new_contact .form-actions {
    width: 42% !important;
  }
}

@media (max-width: 1070px) and (min-width: 933px) {
  .contact-form-title {
    width: 68%;
  }
}

@media (max-width: 933px) and (min-width: 830px) {
  .contact-form-title {
    width: 75%;
  }
  #new_contact .form-actions {
    width: 51% !important;
  }
}

@media (max-width: 933px) and (min-width: 700px) {
  .contact-form-title {
    width: 91%;
  }
}

@media (max-width: 1250px) and (min-width: 1085px) {
  #new_contact .form-actions {
    width: 35% !important;
  }
}

@media (max-width: 933px) and (min-width: 429px) {
  .form-horizontal-left, .form-horizontal-right {
    padding-right: 0!important;
    padding-left: 0!important;
    width: 100%;
  }
  .contacts-form .form-horizontal-right .form-actions {
    margin-top: 10px;
  }
  .form-horizontal-left input {
    width: 93%;
  }
}
@media (max-width: 640px) and (min-width: 429px){
  .contact-form-title {
    width: 100%;
  }
}
@media (max-width: 640px) and (min-width: 505px){
  #new_contact .form-actions {
    width: 45% !important;
  }
}

@media (max-width: 840px) and (min-width: 429px) {
  .articles-item-left, .articles-item-right { width: 100%;}
  .article-info p span {
    padding: 1px 65px 1px 12px;
  }
  .articles-item-right .content {padding-left: 0!important;}
  .articles-item-left {padding-bottom: 30px;}
}
@media (max-width: 635px) and (min-width: 429px) {
  .call-order-form-title-wrapper img {padding-right: 0 !important;}
  .contacts-form h1 {padding-right: 0 !important; padding-top: 10px!important;}
}
@media (min-width: 720px) and (max-width: 800px) {
  .novelty_content .content_item {padding-left: 5% !important;}
   .novelty_content .add-too-cart .form-actions {width: 45% !important;}
}
@media (min-width: 800px) and (max-width: 1000px) {
  //.novelty_content .content_item {padding-left: 5% !important;}
  .novelty_content .add-too-cart .form-actions {width: 55% !important;}
}
@media (min-width: 720px) and (max-width: 840px) {
  .catalog-sidebar-menu-wrapper {width: 33%;}
  .catalog-page-items-wrapper {width: 67%;}
  .cat-item {width: 50%;}
}